
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.env/
reports/
screenshots/
allure-results/
index.js/
allure-report/
html-report/
videos/
trace/
.debug/
.vscode/
screenshots/
cucumber-report/
logs/
npm-debug.log*
screenshots/
reports/

